.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__dcQqd {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-fBRML5nRI3agBL);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__dcQqd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dcQqd > :global(.__wab_flex-container) > *,
.freeBox__dcQqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dcQqd > :global(.__wab_flex-container) > picture > img,
.freeBox__dcQqd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dcQqd {
    width: 100%;
    height: auto;
    max-width: var(--token-fBRML5nRI3agBL);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dcQqd > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dcQqd > :global(.__wab_flex-container) > *,
  .freeBox__dcQqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dcQqd > :global(.__wab_flex-container) > picture > img,
  .freeBox__dcQqd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__fub9H {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__fub9H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fub9H > :global(.__wab_flex-container) > *,
.freeBox__fub9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fub9H > :global(.__wab_flex-container) > picture > img,
.freeBox__fub9H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fub9H {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fub9H > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fub9H > :global(.__wab_flex-container) > *,
  .freeBox__fub9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fub9H > :global(.__wab_flex-container) > picture > img,
  .freeBox__fub9H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__yMdF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___0CWn7 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0CWn7 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__yExHj {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yExHj {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___8QroK {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8QroK {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__b0VJr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__b0VJr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__b0VJr > :global(.__wab_flex-container) > *,
.freeBox__b0VJr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b0VJr > :global(.__wab_flex-container) > picture > img,
.freeBox__b0VJr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__iOuOx:global(.__wab_instance) {
  position: relative;
}
.svg___0DG9D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sr1Dj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__p7O1Q:global(.__wab_instance) {
  position: relative;
}
.svg__kyIbM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__awrpq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__hqt1E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__ckjW {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ckjW > picture > img {
  object-fit: cover;
}
.img__ckjW > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__kJiuz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kJiuz {
    width: 100%;
  }
}
.freeBox___35Kq {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___35Kq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___35Kq > :global(.__wab_flex-container) > *,
.freeBox___35Kq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___35Kq > :global(.__wab_flex-container) > picture > img,
.freeBox___35Kq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___35Kq {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___35Kq > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__huu7F {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text___8IvcF {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__hznAj:global(.__wab_instance) {
  position: relative;
}
.svg__s3TKi {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__sjfT1 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__aW809:global(.__wab_instance) {
  position: relative;
}
.svg__hbm0D {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__iWlpX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__aNbmS:global(.__wab_instance) {
  position: relative;
}
.svg__j0IEg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gbOcE {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__e9VTf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__e9VTf {
    width: 100%;
  }
}
.img__ssdDx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ssdDx > picture > img {
  object-fit: cover;
}
.img__ssdDx > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__su2Ma {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__su2Ma > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__su2Ma > :global(.__wab_flex-container) > *,
.freeBox__su2Ma > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__su2Ma > :global(.__wab_flex-container) > picture > img,
.freeBox__su2Ma
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___1IaxI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7X7Sw {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg__lvXuX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___9COdG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tUOrp {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg__pnyWd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___4LruF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xqrfv {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg__lzAfe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__tRfgW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___39UrO {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg__wnQeN {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yA1Ld:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fBjnM {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg___3788X {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ofMcr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__foVtt {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-TTOedASeJS9DAZ);
}
.svg__vN4Im {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-AX7cXLeUxr5pr9);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__a8Mxz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__a8Mxz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__a8Mxz > :global(.__wab_flex-container) > *,
.freeBox__a8Mxz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a8Mxz > :global(.__wab_flex-container) > picture > img,
.freeBox__a8Mxz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__tfVxb {
  flex-direction: row;
  display: flex;
}
.freeBox__tfVxb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tfVxb > :global(.__wab_flex-container) > *,
.freeBox__tfVxb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tfVxb > :global(.__wab_flex-container) > picture > img,
.freeBox__tfVxb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__drtRf {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__ok6P {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__pofO8 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__syc5Q {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__nyZdm {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
