.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 30px;
}
.slider:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  flex-direction: column;
  position: relative;
}
.img__uo9VL {
  object-fit: cover;
  max-width: 100%;
}
.img__uo9VL > picture > img {
  object-fit: cover;
}
.img__uo9VL > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dxKb {
  object-fit: cover;
  max-width: 100%;
}
.img__dxKb > picture > img {
  object-fit: cover;
}
.img__dxKb > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__jzKov {
  object-fit: cover;
  max-width: 100%;
}
.img__jzKov > picture > img {
  object-fit: cover;
}
.img__jzKov > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
