@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-AX7cXLeUxr5pr9: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-AX7cXLeUxr5pr9);
  --token-TTOedASeJS9DAZ: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-TTOedASeJS9DAZ);
  --token-RseI19VsW1dLU4: #666666;
  --plasmic-token-text: var(--token-RseI19VsW1dLU4);
  --token-fBRML5nRI3agBL: 1104px;
  --plasmic-token-max-content-width: var(--token-fBRML5nRI3agBL);
}

.plasmic_default_styles {
  --mixin-tIQiGOn9emBhXv_font-family: "Inter";
  --mixin-tIQiGOn9emBhXv_font-size: 18px;
  --mixin-tIQiGOn9emBhXv_font-weight: 400;
  --mixin-tIQiGOn9emBhXv_font-style: normal;
  --mixin-tIQiGOn9emBhXv_color: var(--token-RseI19VsW1dLU4);
  --mixin-tIQiGOn9emBhXv_text-align: left;
  --mixin-tIQiGOn9emBhXv_text-transform: none;
  --mixin-tIQiGOn9emBhXv_line-height: 1.5;
  --mixin-tIQiGOn9emBhXv_letter-spacing: normal;
  --mixin-tIQiGOn9emBhXv_white-space: pre-wrap;
  --mixin-tIQiGOn9emBhXv_user-select: text;
  --mixin-tIQiGOn9emBhXv_text-decoration-line: none;
  --mixin-tIQiGOn9emBhXv_text-overflow: clip;
  --mixin-pQUietCOo3iLmO_font-family: "Inter";
  --mixin-pQUietCOo3iLmO_color: #000000;
  --mixin-pQUietCOo3iLmO_font-size: 72px;
  --mixin-pQUietCOo3iLmO_font-weight: 900;
  --mixin-pQUietCOo3iLmO_letter-spacing: -4px;
  --mixin-pQUietCOo3iLmO_line-height: 1;
  --mixin-Q-xeRbY4sx-c3R_font-family: "Inter";
  --mixin-Q-xeRbY4sx-c3R_color: #000000;
  --mixin-Q-xeRbY4sx-c3R_font-size: 48px;
  --mixin-Q-xeRbY4sx-c3R_font-weight: 700;
  --mixin-Q-xeRbY4sx-c3R_letter-spacing: -1px;
  --mixin-Q-xeRbY4sx-c3R_line-height: 1.1;
  --mixin-KfD9FysG96ng_k_font-family: "Inter";
  --mixin-KfD9FysG96ng_k_color: #000000;
  --mixin-KfD9FysG96ng_k_font-size: 32px;
  --mixin-KfD9FysG96ng_k_font-weight: 600;
  --mixin-KfD9FysG96ng_k_letter-spacing: -0.8px;
  --mixin-KfD9FysG96ng_k_line-height: 1.2;
  --mixin-pndE4ZyybCwcbz_font-family: "Inter";
  --mixin-pndE4ZyybCwcbz_color: #000000;
  --mixin-pndE4ZyybCwcbz_font-size: 24px;
  --mixin-pndE4ZyybCwcbz_font-weight: 600;
  --mixin-pndE4ZyybCwcbz_letter-spacing: -0.5px;
  --mixin-pndE4ZyybCwcbz_line-height: 1.3;
  --mixin-D1Gad6Mxrs8Pnm_font-family: "Inter";
  --mixin-D1Gad6Mxrs8Pnm_color: #000000;
  --mixin-D1Gad6Mxrs8Pnm_font-size: 20px;
  --mixin-D1Gad6Mxrs8Pnm_font-weight: 600;
  --mixin-D1Gad6Mxrs8Pnm_letter-spacing: -0.3px;
  --mixin-D1Gad6Mxrs8Pnm_line-height: 1.5;
  --mixin-e-URry1-g8CUkE_font-family: "Inter";
  --mixin-e-URry1-g8CUkE_color: #000000;
  --mixin-e-URry1-g8CUkE_font-size: 16px;
  --mixin-e-URry1-g8CUkE_font-weight: 600;
  --mixin-e-URry1-g8CUkE_line-height: 1.5;
  --mixin-iz9TM7zmr1ONoC_border-left-color: #dddddd;
  --mixin-iz9TM7zmr1ONoC_border-left-style: solid;
  --mixin-iz9TM7zmr1ONoC_border-left-width: 3px;
  --mixin-iz9TM7zmr1ONoC_color: #888888;
  --mixin-iz9TM7zmr1ONoC_padding-left: 10px;
  --mixin-3FfU1mqrVHT-Pj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3FfU1mqrVHT-Pj_border-bottom-color: #dddddd;
  --mixin-3FfU1mqrVHT-Pj_border-bottom-style: solid;
  --mixin-3FfU1mqrVHT-Pj_border-bottom-width: 1px;
  --mixin-3FfU1mqrVHT-Pj_border-left-color: #dddddd;
  --mixin-3FfU1mqrVHT-Pj_border-left-style: solid;
  --mixin-3FfU1mqrVHT-Pj_border-left-width: 1px;
  --mixin-3FfU1mqrVHT-Pj_border-right-color: #dddddd;
  --mixin-3FfU1mqrVHT-Pj_border-right-style: solid;
  --mixin-3FfU1mqrVHT-Pj_border-right-width: 1px;
  --mixin-3FfU1mqrVHT-Pj_border-top-color: #dddddd;
  --mixin-3FfU1mqrVHT-Pj_border-top-style: solid;
  --mixin-3FfU1mqrVHT-Pj_border-top-width: 1px;
  --mixin-3FfU1mqrVHT-Pj_border-bottom-left-radius: 3px;
  --mixin-3FfU1mqrVHT-Pj_border-bottom-right-radius: 3px;
  --mixin-3FfU1mqrVHT-Pj_border-top-left-radius: 3px;
  --mixin-3FfU1mqrVHT-Pj_border-top-right-radius: 3px;
  --mixin-3FfU1mqrVHT-Pj_font-family: "Inconsolata";
  --mixin-3FfU1mqrVHT-Pj_padding-bottom: 1px;
  --mixin-3FfU1mqrVHT-Pj_padding-left: 4px;
  --mixin-3FfU1mqrVHT-Pj_padding-right: 4px;
  --mixin-3FfU1mqrVHT-Pj_padding-top: 1px;
  --mixin-yfFDLZyRhNkRnk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yfFDLZyRhNkRnk_border-bottom-color: #dddddd;
  --mixin-yfFDLZyRhNkRnk_border-bottom-style: solid;
  --mixin-yfFDLZyRhNkRnk_border-bottom-width: 1px;
  --mixin-yfFDLZyRhNkRnk_border-left-color: #dddddd;
  --mixin-yfFDLZyRhNkRnk_border-left-style: solid;
  --mixin-yfFDLZyRhNkRnk_border-left-width: 1px;
  --mixin-yfFDLZyRhNkRnk_border-right-color: #dddddd;
  --mixin-yfFDLZyRhNkRnk_border-right-style: solid;
  --mixin-yfFDLZyRhNkRnk_border-right-width: 1px;
  --mixin-yfFDLZyRhNkRnk_border-top-color: #dddddd;
  --mixin-yfFDLZyRhNkRnk_border-top-style: solid;
  --mixin-yfFDLZyRhNkRnk_border-top-width: 1px;
  --mixin-yfFDLZyRhNkRnk_border-bottom-left-radius: 3px;
  --mixin-yfFDLZyRhNkRnk_border-bottom-right-radius: 3px;
  --mixin-yfFDLZyRhNkRnk_border-top-left-radius: 3px;
  --mixin-yfFDLZyRhNkRnk_border-top-right-radius: 3px;
  --mixin-yfFDLZyRhNkRnk_font-family: "Inconsolata";
  --mixin-yfFDLZyRhNkRnk_padding-bottom: 3px;
  --mixin-yfFDLZyRhNkRnk_padding-left: 6px;
  --mixin-yfFDLZyRhNkRnk_padding-right: 6px;
  --mixin-yfFDLZyRhNkRnk_padding-top: 3px;
  --mixin-L7oJaVxorli6CQ_display: flex;
  --mixin-L7oJaVxorli6CQ_flex-direction: column;
  --mixin-L7oJaVxorli6CQ_align-items: stretch;
  --mixin-L7oJaVxorli6CQ_justify-content: flex-start;
  --mixin-L7oJaVxorli6CQ_list-style-position: outside;
  --mixin-L7oJaVxorli6CQ_padding-left: 40px;
  --mixin-L7oJaVxorli6CQ_position: relative;
  --mixin-L7oJaVxorli6CQ_list-style-type: decimal;
  --mixin-2kyYjpIjb4xaLl_display: flex;
  --mixin-2kyYjpIjb4xaLl_flex-direction: column;
  --mixin-2kyYjpIjb4xaLl_align-items: stretch;
  --mixin-2kyYjpIjb4xaLl_justify-content: flex-start;
  --mixin-2kyYjpIjb4xaLl_list-style-position: outside;
  --mixin-2kyYjpIjb4xaLl_padding-left: 40px;
  --mixin-2kyYjpIjb4xaLl_position: relative;
  --mixin-2kyYjpIjb4xaLl_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-tIQiGOn9emBhXv_font-family);
  font-size: var(--mixin-tIQiGOn9emBhXv_font-size);
  font-weight: var(--mixin-tIQiGOn9emBhXv_font-weight);
  font-style: var(--mixin-tIQiGOn9emBhXv_font-style);
  color: var(--mixin-tIQiGOn9emBhXv_color);
  text-align: var(--mixin-tIQiGOn9emBhXv_text-align);
  text-transform: var(--mixin-tIQiGOn9emBhXv_text-transform);
  line-height: var(--mixin-tIQiGOn9emBhXv_line-height);
  letter-spacing: var(--mixin-tIQiGOn9emBhXv_letter-spacing);
  white-space: var(--mixin-tIQiGOn9emBhXv_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-pQUietCOo3iLmO_font-family);
  color: var(--mixin-pQUietCOo3iLmO_color);
  font-size: var(--mixin-pQUietCOo3iLmO_font-size);
  font-weight: var(--mixin-pQUietCOo3iLmO_font-weight);
  letter-spacing: var(--mixin-pQUietCOo3iLmO_letter-spacing);
  line-height: var(--mixin-pQUietCOo3iLmO_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-Q-xeRbY4sx-c3R_font-family);
  color: var(--mixin-Q-xeRbY4sx-c3R_color);
  font-size: var(--mixin-Q-xeRbY4sx-c3R_font-size);
  font-weight: var(--mixin-Q-xeRbY4sx-c3R_font-weight);
  letter-spacing: var(--mixin-Q-xeRbY4sx-c3R_letter-spacing);
  line-height: var(--mixin-Q-xeRbY4sx-c3R_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-KfD9FysG96ng_k_font-family);
  color: var(--mixin-KfD9FysG96ng_k_color);
  font-size: var(--mixin-KfD9FysG96ng_k_font-size);
  font-weight: var(--mixin-KfD9FysG96ng_k_font-weight);
  letter-spacing: var(--mixin-KfD9FysG96ng_k_letter-spacing);
  line-height: var(--mixin-KfD9FysG96ng_k_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-pndE4ZyybCwcbz_font-family);
  color: var(--mixin-pndE4ZyybCwcbz_color);
  font-size: var(--mixin-pndE4ZyybCwcbz_font-size);
  font-weight: var(--mixin-pndE4ZyybCwcbz_font-weight);
  letter-spacing: var(--mixin-pndE4ZyybCwcbz_letter-spacing);
  line-height: var(--mixin-pndE4ZyybCwcbz_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-D1Gad6Mxrs8Pnm_font-family);
  color: var(--mixin-D1Gad6Mxrs8Pnm_color);
  font-size: var(--mixin-D1Gad6Mxrs8Pnm_font-size);
  font-weight: var(--mixin-D1Gad6Mxrs8Pnm_font-weight);
  letter-spacing: var(--mixin-D1Gad6Mxrs8Pnm_letter-spacing);
  line-height: var(--mixin-D1Gad6Mxrs8Pnm_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-e-URry1-g8CUkE_font-family);
  color: var(--mixin-e-URry1-g8CUkE_color);
  font-size: var(--mixin-e-URry1-g8CUkE_font-size);
  font-weight: var(--mixin-e-URry1-g8CUkE_font-weight);
  line-height: var(--mixin-e-URry1-g8CUkE_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-iz9TM7zmr1ONoC_color);
  padding-left: var(--mixin-iz9TM7zmr1ONoC_padding-left);
  border-left: var(--mixin-iz9TM7zmr1ONoC_border-left-width)
    var(--mixin-iz9TM7zmr1ONoC_border-left-style)
    var(--mixin-iz9TM7zmr1ONoC_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-3FfU1mqrVHT-Pj_background);
  font-family: var(--mixin-3FfU1mqrVHT-Pj_font-family);
  border-radius: var(--mixin-3FfU1mqrVHT-Pj_border-top-left-radius)
    var(--mixin-3FfU1mqrVHT-Pj_border-top-right-radius)
    var(--mixin-3FfU1mqrVHT-Pj_border-bottom-right-radius)
    var(--mixin-3FfU1mqrVHT-Pj_border-bottom-left-radius);
  padding: var(--mixin-3FfU1mqrVHT-Pj_padding-top)
    var(--mixin-3FfU1mqrVHT-Pj_padding-right)
    var(--mixin-3FfU1mqrVHT-Pj_padding-bottom)
    var(--mixin-3FfU1mqrVHT-Pj_padding-left);
  border-top: var(--mixin-3FfU1mqrVHT-Pj_border-top-width)
    var(--mixin-3FfU1mqrVHT-Pj_border-top-style)
    var(--mixin-3FfU1mqrVHT-Pj_border-top-color);
  border-right: var(--mixin-3FfU1mqrVHT-Pj_border-right-width)
    var(--mixin-3FfU1mqrVHT-Pj_border-right-style)
    var(--mixin-3FfU1mqrVHT-Pj_border-right-color);
  border-bottom: var(--mixin-3FfU1mqrVHT-Pj_border-bottom-width)
    var(--mixin-3FfU1mqrVHT-Pj_border-bottom-style)
    var(--mixin-3FfU1mqrVHT-Pj_border-bottom-color);
  border-left: var(--mixin-3FfU1mqrVHT-Pj_border-left-width)
    var(--mixin-3FfU1mqrVHT-Pj_border-left-style)
    var(--mixin-3FfU1mqrVHT-Pj_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-yfFDLZyRhNkRnk_background);
  font-family: var(--mixin-yfFDLZyRhNkRnk_font-family);
  border-radius: var(--mixin-yfFDLZyRhNkRnk_border-top-left-radius)
    var(--mixin-yfFDLZyRhNkRnk_border-top-right-radius)
    var(--mixin-yfFDLZyRhNkRnk_border-bottom-right-radius)
    var(--mixin-yfFDLZyRhNkRnk_border-bottom-left-radius);
  padding: var(--mixin-yfFDLZyRhNkRnk_padding-top)
    var(--mixin-yfFDLZyRhNkRnk_padding-right)
    var(--mixin-yfFDLZyRhNkRnk_padding-bottom)
    var(--mixin-yfFDLZyRhNkRnk_padding-left);
  border-top: var(--mixin-yfFDLZyRhNkRnk_border-top-width)
    var(--mixin-yfFDLZyRhNkRnk_border-top-style)
    var(--mixin-yfFDLZyRhNkRnk_border-top-color);
  border-right: var(--mixin-yfFDLZyRhNkRnk_border-right-width)
    var(--mixin-yfFDLZyRhNkRnk_border-right-style)
    var(--mixin-yfFDLZyRhNkRnk_border-right-color);
  border-bottom: var(--mixin-yfFDLZyRhNkRnk_border-bottom-width)
    var(--mixin-yfFDLZyRhNkRnk_border-bottom-style)
    var(--mixin-yfFDLZyRhNkRnk_border-bottom-color);
  border-left: var(--mixin-yfFDLZyRhNkRnk_border-left-width)
    var(--mixin-yfFDLZyRhNkRnk_border-left-style)
    var(--mixin-yfFDLZyRhNkRnk_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-L7oJaVxorli6CQ_display);
  flex-direction: var(--mixin-L7oJaVxorli6CQ_flex-direction);
  align-items: var(--mixin-L7oJaVxorli6CQ_align-items);
  justify-content: var(--mixin-L7oJaVxorli6CQ_justify-content);
  list-style-position: var(--mixin-L7oJaVxorli6CQ_list-style-position);
  padding-left: var(--mixin-L7oJaVxorli6CQ_padding-left);
  position: var(--mixin-L7oJaVxorli6CQ_position);
  list-style-type: var(--mixin-L7oJaVxorli6CQ_list-style-type);
  flex-column-gap: var(--mixin-L7oJaVxorli6CQ_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-2kyYjpIjb4xaLl_display);
  flex-direction: var(--mixin-2kyYjpIjb4xaLl_flex-direction);
  align-items: var(--mixin-2kyYjpIjb4xaLl_align-items);
  justify-content: var(--mixin-2kyYjpIjb4xaLl_justify-content);
  list-style-position: var(--mixin-2kyYjpIjb4xaLl_list-style-position);
  padding-left: var(--mixin-2kyYjpIjb4xaLl_padding-left);
  position: var(--mixin-2kyYjpIjb4xaLl_position);
  list-style-type: var(--mixin-2kyYjpIjb4xaLl_list-style-type);
  flex-column-gap: var(--mixin-2kyYjpIjb4xaLl_flex-column-gap);
}
